<style type="text/css">
#ersa-text {
	float: left;
}

#ersa-logo {
	float: right;
	margin: 20px;
	width: 100px;
	height: 100px;
}
</style>
<script>
	// lame attempt to defeat spam email harvesters
	$(document).ready(function() {
		var domain = 'health.sa.gov.au';
		var l = 'lawrence';
		var f = 'david';
		
		$('#addr').html(f + '.' + l + '@' + domain);
	});
</script>
<h2>BioGraphServ Documentation</h2>

<h3>About</h3>
<p>
BioGraphServ is an online tool for quickly and easily generating graphs and analysis from small bioinformatics files such as BED, expression and VCF files.

<p>
You can rapidly upload multiple files via drag & dropping them onto the page, or using the "upload" buttons. BioGraphServ will detect the file type, and generate default analysis and graphs.

<P>
Graphs can be customised and downloaded in multiple formats, and data from multiple files combined for download or further analysis via the "Combo" functionality.

For a quick overview of features, see <a href="/bgs/docs/tour">A Visual Tour of BioGraphServ</a>

<h3>File formats</h3>

We accept Bed, VCF, CuffDiff and gene expression files. For more details, see <a href="/bgs/docs/file_formats">File Formats</a>  

<h3>Managing Projects</h3>

<p>
You don't need to register or login to use BioGraphServ, so you can start immediately uploading files and making graphs.

<p>
We keep track of your project, files and graphs by storing an <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">extremely large random key</a>. 

This is stored in the URL when you visit the page, so save the link or bookmark the page to return to your files.

<p>
You can also optionally enter your email address in the project settings page.
This allows us to send you a reminder email with your projects links to your projects via the <a href="/bgs/lost_projects">lost projects page.</a> 

<p>
If you did not save your project link (check your history?) or enter your email - your project will be lost forever, and you will need to re-upload your files.

<h3>Graph Customisation</h3>

<p>For an example of a more complex graph customisation, see <a href="/bgs/docs/svd_graph_editor">Customising an SVD Graph</a></p>

<h3>Deployment</h3>

If you would like to run your own copy of BioGraphServ, you can:
 
<ul>
<li>Download a virtual machine (contact address below for link).
<li>If you are on <a href="https://www.nectar.org.au/">the Australian research cloud</a> create a copy of the public instance (contact address below for details)
<li>Clone the source code and following installation instructions from the <a href="https://bitbucket.org/sacgf/biographserv/">bitbucket project</a>.
</ul>

<div>
<div id='ersa-text'>
<h3>Implementation / Development</h3>
<a name="development"></a>

BioGraphServ is open source, please see the <a href="https://bitbucket.org/sacgf/biographserv/">bitbucket project</a> for code related issues. 
<p>
BioGraphServ is hosted on the South Australian Node of the NeCTAR National Research Cloud</div> 
<a href="http://www.eresearchsa.edu.au/"><img id='ersa-logo' src="/static/images/eresearch.jpg"></a>
<div style="clear: both;"></div>
</div>

<h3>Contact / Comments</h3>
<p>
Please reports bugs, and unclear documentation on the project's <a href="https://bitbucket.org/sacgf/biographserv/issues">issue tracker</a>.

<p>
We welcome hearing your feedback and feature requests - please contact David Lawrence (<span id='addr'></span>)
