<style>
.connectedSortable {
	min-height: 50px;
}

#columns-widget ul
{
	list-style-type: none;
}

#columns-widget li
{
	display: inline-block;
	margin: 0;
	padding: 0 5px 0 5px;
	margin-right: 10px;
	border: 1px solid #eee;
}
</style>

<script>
	function save_combo_columns() {
		var csv_result_ids = [];
		$("li", "ul#selected_columns_sortable").each(function() {
			csv_result_ids.push($(this).attr("csv_result_id"));
		});
		
		var data = 'csrfmiddlewaretoken={{ csrf_token }}&csv_result_ids=' + encodeURIComponent(JSON.stringify(csv_result_ids));
		console.log(data);
		$.ajax({
		    type: "POST",
		    data: data,
		    url: "{% url 'save_combo_columns' project.pk combo.pk %}",
		    success: function() {
				$("#unsaved-columns-message").hide();
				$("#columns-save-message").fadeIn(function() { $(this).fadeOut(1500); });
		    },
		});
	}


	$(document).ready(function() {
		$("button.save-button").button({
			icons: {primary: "ui-icon-disk"},
	    });

		$(".connectedSortable").sortable({
		    items: "li.user_column",
		    placeholder: "sort_placeholder",
		    connectWith: '.connectedSortable',
		}).disableSelection();

		$("#selected_columns_sortable").bind("sortupdate", function(event, ui) {
			$("#unsaved-columns-message").fadeIn();
			console.log("Updated!");
		});
		
		$('#save-columns').click(save_combo_columns);
		
	});
</script>
<div>
	Drag and drop the columns in your desired order, save then view the grid. 

	<div id="columns-widget">
		<div id="available_columns">
		    <h2>Available Columns</h2>
			<ul id="available_columns_sortable" class="ui-widget-header connectedSortable">
				{% for column in available_columns %}
				    <li class="ui-state-default user_column" id="{{ column }}" csv_result_id={{ column.pk }}>{{ column }}</li>
			    {% endfor %}
			</ul>
		</div>
		<div id="my_columns">
			<h2>My Columns</h2>
			<ul id="selected_columns_sortable" class="ui-widget-header connectedSortable">
				{% for column in selected_columns %}
				    <li class="ui-state-default user_column" id="{{ column }}" csv_result_id={{ column.pk }}>{{ column }}</li>
			    {% endfor %}
			</ul>
		</div>

		<button id='save-columns' class='save-button'>save</button>
		<span id='unsaved-columns-message' style='display: none'>Warning: Unsaved column changes.</span>
		<span id='columns-save-message' style='display: none'>Saved Successfully</span>
	</div>
</div>
