{% if results %}
	{% for result in results %}
		<div class='result'>
		{% if result.is_image %}
			<h3>{{ result.graph.name }}</h3>
			<table>
			<tr>
			<td><div class='image-container'>
					<a href='#inline-editor-{{ result.pk }}' rel="prettyPhoto[inline]">
					<img	width=640 height=480 id="result-image-{{ result.pk }}"
							class='image-{{ result.pk }} generated-image' src="{% url 'styled_graph' project.pk result.pk result.hash_code 'png' %}"
							styled_graph_id="{{ result.pk }}"
							styled_graph_hash_code="{{ result.hash_code }}" />
					</a>
					<div class='image-overlay'>
						<div class='overlay-background initially-transparent'></div>
						<div class='overlay-buttons initially-transparent'>
							<button class='eps-image-link download-image-button'>Download EPS</button>
							<button class='pdf-image-link download-image-button'>Download PDF</button>
							<button class='svg-image-link download-image-button'>Download SVG</button>
							<button class='tif-image-link download-image-button'>Download TIF</button>
						</div>
					</div>
				</div>
			</tr>
			</table>
			<div id='inline-editor-{{ result.pk }}' style='display: none; width:800px; height:600px'>
				<div class='styled-graph-editor-container ui-layout-west'>
					<div class="loading-message">
					Loading Graph Editor...
					</div>
				</div>
				<div class="styled-graph-center-container ui-layout-center">
					<div class="styled-graph-center-content">
					</div>
					<img	width=640 height=480
							id="toolkit-image-{{ result.pk }}"
							class='image-{{ result.pk }} generated-image' src="{% url 'styled_graph' project.pk result.pk result.hash_code 'png' %}"
							styled_graph_id="{{ result.pk }}"
							styled_graph_hash_code="{{ result.hash_code }}" />
				</div>
			</div>


		{% elif result.is_csv %}
			<div>
			<h3>{{ result.name }}</h3>
			{{ result.description }}
			<a title='Download CSV' href='{% url 'download_csv' project.pk result.pk %}'><div class='csv-download-icon'></div></a> 
			</div>
		{% endif %}
		</div>
	{% endfor %}

{% endif %}
