{% extends "bgs/base_task_poller.html" %}

{% block add_task_results %}
		$.each(task_results, function (taskId, data) {
			var base_url = "{% url 'task_results' project.pk 9999999999 %}";
			var url = base_url.replace(9999999999, taskId);

			var resultDiv = $("<div id='result'></div>");
			resultDiv.hide();
			$("#results").prepend(resultDiv);
			resultDiv.load(url, function() {
				initialiseResult(resultDiv);
				resultDiv.fadeIn()
			});
		});
		task_results = {};
{% endblock %}

{% block jshead %}
	function initialiseStyleToolkit(ppSelector) {
		var imageSelector = $(".generated-image", ppSelector);
		var styled_graph_id = imageSelector.attr("styled_graph_id");
		var styled_graph_hash_code = $(imageSelector).attr("styled_graph_hash_code");

		var base_url = "{% url 'styled_graph_editor' project.pk 9999999999 'HASH_CODE_PLACEHOLDER' %}";
		var url = base_url.replace(9999999999, styled_graph_id);
		url = url.replace('HASH_CODE_PLACEHOLDER', styled_graph_hash_code);

		// JQuery UI layout setup
		var editorContainer = $(".styled-graph-editor-container", ppSelector);
		var imageContainer = $(".toolkit-image-container", ppSelector);

		var parent_h = ppSelector.parent().height();
		var PADDING = 0;
		ppSelector.height(parent_h - PADDING);
		ppSelector.layout({
			west: {
				resizeable: false,
				size: 450,
			}
		});
		editorContainer.load(url);
	}

	function initialiseResult(resultsSelector) {
		$(".image-container", resultsSelector).hover(
			function() {
				$(".overlay-background", this).stop().animate({"opacity": "0.6"}, 350);
				$(".overlay-buttons", this).stop().animate({"opacity": "1"}, 350);
			},
			function() {
				$(".overlay-background", this).stop().animate({"opacity": "0"}, 350);
				$(".overlay-buttons", this).stop().animate({"opacity": "0"}, 350);
		});

		var buttons_selector = $(".download-image-button", resultsSelector);
		buttons_selector.button({
	      icons: {
	        primary: "ui-icon-arrowthickstop-1-s"
	      }
	    });

		// Attach download links for each image type to each graph
		$(".image-container", resultsSelector).each(function() {
			var container = this;
			var resultImage = $("img.generated-image", container);
			var styled_graph_id = resultImage.attr("styled_graph_id");

			var IMAGE_TYPES = ['eps', 'pdf', 'svg', 'tif'];
			$(IMAGE_TYPES).each(function() {
				var image_type = this;
				$("button." + image_type + "-image-link", container).click(function() {
					// Hash code may have changed, so need to get it again
					var styled_graph_hash_code = resultImage.attr("styled_graph_hash_code");
		
					var base_url = "{% url 'styled_graph' project.pk 9999999999 'HASH_CODE_PLACEHOLDER' 'IMAGE_TYPE_PLACEHOLDER' %}";
					base_url = base_url.replace(9999999999, styled_graph_id);
					base_url = base_url.replace('HASH_CODE_PLACEHOLDER', styled_graph_hash_code);
					var url = base_url.replace("IMAGE_TYPE_PLACEHOLDER", image_type);
					window.location = url;
				});  
			});
		});
		
		$("a[rel^='prettyPhoto']", resultsSelector).prettyPhoto({
			inline_markup: '<div class="my_pp_inline">{content}</div>',
			social_tools: false,
			changepicturecallback: function(){
				var ppSelector = $(".my_pp_inline");
				initialiseStyleToolkit(ppSelector);
			},
		});
	}
	
	function changeUploadedName() {
		if ($(".errorlist", "form#name-form").length == 0) { // success
			$("#save-message").fadeIn(function() { $(this).fadeOut(1500); });
	
			var name = $("#id_name", "#name-form").val();
			get_uploaded_file_link({{ uploaded_file.pk }}).text(name);
		}
	}
	
{% endblock %}


{% block jsdocumentready %}
		initialiseResult($("#results")); // do for all

		var options	= {
			target: '#view-uploaded-file',
			complete: changeUploadedName, // success isn't being called (not sure why) - we check for errors in this function
		};
			
		$('form#name-form').ajaxForm(options); 

		$("button#save-uploaded-file").button({
			icons: {primary: "ui-icon-disk"},
	    });
{% endblock %}

{% block content_above_tasks %}
	<form id='name-form' method="post" action="{{ request.path }}">
        {% csrf_token %}
	<h3>Uploaded File: {{ name_form.name }}<button id='save-uploaded-file'>save</button> </h3> 
	<span id='save-message' style='display: none'>Saved Successfully</span>
	</form>
{% endblock %}

{% block content_below_tasks %}
	<div id='results'>
		{% include 'bgs/results.html' %}
	</div>
{% endblock %}
	    