<style>
.connectedSortable {
	min-height: 50px;
}

#columns-widget ul
{
	list-style-type: none;
}

#columns-widget li
{
	display: inline-block;
	margin: 0;
	padding: 0 5px 0 5px;
	margin-right: 10px;
	border: 1px solid #eee;
}

</style>

<script>
	function save_combo_columns() {
		var csv_result_ids = [];
		$("li", "ul#selected_columns_sortable").each(function() {
			csv_result_ids.push($(this).attr("csv_result_id"));
		});
		
		var data = 'csrfmiddlewaretoken={{ csrf_token }}&csv_result_ids=' + encodeURIComponent(JSON.stringify(csv_result_ids));
		console.log(data);
		$.ajax({
		    type: "POST",
		    data: data,
		    url: "{% url 'save_combo_columns' project.pk combo.pk %}",
		    success: function() {
				$("#unsaved-columns-message").hide();
				$("#columns-save-message").fadeIn(function() { $(this).fadeOut(1500); });
		    },
		});
	}


	$(document).ready(function() {
		$("button.save-button").button({
			icons: {primary: "ui-icon-disk"},
	    });

		var options	= {
			target: '#view-combo',
			success: function() {
				if ($(".errorlist", "form#project-form").length == 0) { // success
					$("#save-message").fadeIn(function() { $(this).fadeOut(1500); });

					var name = $("#id_name", "#combo-form").val();
					var combo = get_combo_row( {{ combo.pk }} );
					$("a", combo).text(name)
				}
			},
		};
			
		$('form#combo-form').ajaxForm(options); 

		///
		$(".connectedSortable").sortable({
		    items: "li.user_column",
		    placeholder: "sort_placeholder",
		    connectWith: '.connectedSortable',
		}).disableSelection();

		$("#selected_columns_sortable").bind("sortupdate", function(event, ui) {
			$("#unsaved-columns-message").fadeIn();
			console.log("Updated!");
		});
		
		$('#save-columns').click(save_combo_columns);
		
		$('#combo-tabs').tabs();
		
	});
</script>
<div id='view-combo'>
	<form id='combo-form' method="post" action="{{ request.path }}">
        {% csrf_token %}
		<table>
			{% for field in form %}
			<tr>
				<td>
				{% if field.field.required %}
				<span class="label"><span class="required">{{ field.label }}</span></span>
		        {% else %}
		        <span class="label">{{ field.label }}</span>
		        {% endif %}
				<td>{{ field.errors }}
					{{ field }}
			</tr>
			{% endfor %}
			<tr>
				<td>
				<button id='save-combo' class='save-button'>save</button>
				<td>
				<span id='save-message' style='display: none'>Saved Successfully</span>
			</tr>
		</table>
	</form>

	<div>
	{% if combo.combo_type %}
		<div id="combo-tabs"> 
		    <ul> 
		        <li><a href="{% url 'combo_columns' project.pk combo.pk %}">Columns</a></li> 
		        <li><a href="{% url 'combo_grid' project.pk combo.pk %}">Grid</a></li> 
		        <li><a href="{% url 'combo_graphs' project.pk combo.pk %}">Graphs</a></li> 
		    </ul>
		</div>​​​​​​​​​​
	{% else %}
		Please select a combo type		
	{% endif %}

	</div>

</div>