div.biographserv-logo {
	background-image: url(/static/images/biographserv.png);
	width: 84px;
	height: 24px;
}

div.footer {
	position: absolute;
	bottom: 0px;
}

.errorlist {
	color: #aa0000;
}

span.label {
	font-weight: bold;
}

span.required:after { content: "*"; }
span.label:after { content: ":"; }

/* Stop input growing down outside of button and recieving clicks */ 
span.fileinput-button input {
	height: 100%;
}

.field-name {
	font-weight: bold;
}

.fileupload-buttonbar button.start {
	display: none;
}

form#fileupload .fileupload-progress {
	display: none;
}

#fileupload {
	word-wrap: break-word;
}

#fileupload p.name {
	width: 240px;
}

#center-panel {
	overflow: auto;
}

#left-container {
	padding: 10px;
}

#left-file-tabs {
	height: 100%;
}

#upload-panel {
	overflow-y: auto;
	padding: 0px;
}

.ui-button {
	font-size: .7em !important;
}

.tab-panel {
	height: 100%;
}

input#new-combo-name {
	width: 150px;
}

#name-form #id_name {
	width: 400px;
}

#biographserv-title {
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#instructions-headline {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 1.5em;
	color: darkgray;
	border: 1px darkgray dashed;
	padding: 10px;
}

#instruction-links {
	font-size: 1.5em;
}

#instruction-links p {

}

#video-container {
	margin: 0px;
}

#video {
    margin-right: auto;
    margin-left: auto;
	width: 400px;
	height: 300px;
	background-color: #222222;
}

#landing-page {
	text-align: center;
	padding: 30px;
    position: absolute;
    top:      0;
    bottom:   0;
    left:     0;
    right:    0;
    width:    auto;
    height:   auto;
	padding-bottom: 2em;
}

.footer {
	position: absolute;
   	bottom: 0;
	height: 2em;
}


#readonly-page {
	padding: 30px;
	text-align: center;
}

.readonly-text {
	font-size: 1.5em;
	color: darkgray;
	padding: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.loading-message {
	font-size: 1.5em;
	color: darkgray;
	padding: 50px;
}
