.image-container {
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}

div.image-overlay {
    position: absolute;
    left: 0px;  
    bottom: 0px; /* position will be on bottom */  
	height: 24px;
    width: 100%;  
    font-size: 15px;  
    color: white;
	text-align: center;
	padding: 5px;
}

.initially-transparent {
    opacity: 0.0; /* transparency */  
    filter: alpha(opacity=0); /* IE transparency */
}

div.overlay-background {
    position: absolute;
    left: 0px;  
    top: 0px;
    width: 100%;  
    height: 100%;  
    background-color: black;  
}

.csv-download-icon {
	width: 32px;
	height: 32px;
	background-image: url(/static/images/csv_128x128.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
}


#view-uploaded-file {
	padding-bottom: 50px;
}


.pp_details {
	position: absolute !important;
	top: 0px;
}

.my_pp_inline {
	padding-top: 50px; /* Leave room for navbar */
}

.styled-graph-editor-container, .toolkit-image-container {
}

input#new-category-name {
	width: 160px;
}
