<script>
	function getImage() {
		return $(".generated-image", ".my_pp_inline");
	}
	
	function getCenterContent() {
		return $(".styled-graph-center-content", ".my_pp_inline");
	}

	function hideImage() {
		getCenterContent().show();
		getImage().hide();
	}

	function showImage() {
		getCenterContent().empty().hide();
		getImage().show();
	}

	function clearCenterContent() {
		getImage().hide();
		getCenterContent().empty().hide();
	}

	function loadCenterGraphContent(url, category_id) {
		hideImage();		
		getCenterContent().load(url);
	}

	$(document).ready(function() {
		$("#graph-editor-tabs").tabs();
	});
</script>
			
<div id="styled-graph-editor">
	<div id="graph-editor-tabs"> 
	    <ul>
			<li><a href="{% url 'graph_editor_tab' project.pk styled_graph.pk %}">Edit</a></li>
			{% block extra_tabs %}{% endblock %}
	    </ul>
	</div>

</div>
