<script>
var sample_names = {{ sample_names | safe }};
$(document).ready(function() {
	var form = $("#graph-samples-form");
	$("tr th label", form).each(function() {
		var hidden_input = $("input", this);
		var sample_id = hidden_input.val();
		var name = sample_names[sample_id];
		$(this).html(name);
	});
	
	$("button.save-button").button();
	var options	= {
		target: $('.styled-graph-center-content', ".my_pp_inline"),
		success: function() {
			console.log("success");
			console.log(this);
			if ($(".errorlist", "form#graph-samples-form").length == 0) { // success
				$(".save-message", this).fadeIn(function() { $(this).fadeOut(1500); });
			}
		},
	};
		
	$('form#graph-samples-form').ajaxForm(options); 


	var h = $(".styled-graph-editor-container", ".my_pp_inline").height();
	$("#graph-samples-form").height(h);

});
</script>

<div>
<h3>Set sample groups for {{ category.name }} </h3>
</div>

<div id='view-graph-samples' style="overflow-y: scroll">
	<form id='graph-samples-form' method="post" action="{{ request.path }}">
        {% csrf_token %}
		<table>
			{{ category_formset.management_form }}
	     	{% for form in category_formset.forms %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				<tr><th><label>{{ form.graph_sample }}</label></th><td>{{ form.graph_group }}{{ form.errors }}</td>
			{% endfor %}
			<tr>
				<td><button class="save-button">Save</button>
				<td><span class='save-message' style='display: none'>Saved Successfully</span>
			</tr>
		</table>
	</form>


</div>