<style>
#cmap-change-message {
	padding-left: 10px;
}
</style>

<script>
// Colorpicker makes it white by default, we don't want to get validation errors
// by sumitting empty name and white for each new row. 
function removeColorFromEmptyRows() {
	$("tr.group_row").each(function() {
		var name = $(".name-container input", this).val();
		if (!name) {
			$(".color-container input", this).val('');
		}
	});
}

function set_cmap_message() {
	var cmapForm = $("select#id_cmap", "#category-form")
	var parentRow = cmapForm.parent().parent();
	var val = cmapForm.val();
	var message = "Manual colors, click to modify";
	if (val) {
		message = "Auto generated group colours";
	}
	parentRow.append($("<td id='cmap-message' colspan=2>" + message + "</td>"));
}


function add_auto_color_boxes(group_colors) {
	$("input[type=hidden]", ".color-container").each(function() {
		var parentContainer = $(this).parent();
		var parentRow = $(parentContainer).parents("tr.group_row");
		var groupName = $(".name-container input", parentRow).val();
		if (groupName) {
			var color = group_colors[groupName];
			var colorSquare = $("<div></div>")
			colorSquare.css({	"background-color" : color,
								"width" : 16,
								"height" : 16,
			});
			parentContainer.append(colorSquare);
		}
	});
}	


$(document).ready(function() {
	$(".save-button").button().click(removeColorFromEmptyRows);

	var options	= {
		target: $('.styled-graph-center-content', ".my_pp_inline"),
		success: function() {
			if ($(".errorlist", "form#category-form").length == 0) { // success
				$("#initial-message").fadeOut();
				$(".save-message", this).fadeIn(function() { $(this).fadeOut(1500); });
				
				var newName = $("#id_name", "form#category-form").val();
				var categoryRow = $("tr[category_id={{ category.pk }}]", "#category-table");
				$("a", categoryRow).html(newName);
			}
		},
	};
		
	$('form#category-form').ajaxForm(options); 
	read_only_disable_check();

	$("select#id_cmap", "#category-form").one("change", function() {
		$("#save-change-colors").show();
	});

	$("input[type=text]", ".color-container").colorPicker();

	set_cmap_message();

	$("input[type=text]", "#category-form").last().one("keypress", function() {
		$("#not-enough-groups").show();
	});


{% if group_colors %}
	var group_colors = {{ group_colors | safe }};
	add_auto_color_boxes(group_colors);
{% endif %}

});
</script>

<div id='view-category'>
	<form id='category-form' method="post" action="{{ request.path }}">
        {% csrf_token %}
		<table>
			{{ category_form.as_table }}
			<tr><td><h4>Groups:</h4></td><tr>

			{% for f in groups_form.management_form %}
				{{ f }}
			{% endfor %}
			{{ groups_form.management_form }}
	     	{% for f in groups_form.forms %}
				{% for hidden in f.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				<tr class="group_row">
				<th>{{ f.name.label_tag }}</th>
				<td><div class="name-container">{{ f.name }}</div>
				<td><div class="color-container">{{ f.color }}</div>
				<td><label>Delete:</label> {{ f.DELETE }} {{ f.errors }}
			{% endfor %}
			<tr>
				<td><button class="save-button">Save</button>
				<td><span class='save-message' style='display: none'>Saved Successfully</span>
			</tr>
		</table>
	</form>
	<div id='save-change-colors' style='display: none'>
		Note: You need to save to see new group colors.
	</div>
	<div id='not-enough-groups' style='display: none'>
		Note: If you need to create more than 3 new groups, save then add more.
	</div>
</div>